

<div class="l-style-guide s-text">
    <p class="doc-title">Baobab Digital Agency</p>

    <h1>Andrew Emelianenko</h1>
    <div class="l-section">
      <div class="cols cols1-1">
          <div class="col">
              <img src="/platform/features/my-items/res/images/avatar.jpg"
                  srcset="/platform/features/my-items/res/images/avatar@2x.jpg 2x"
                  alt="Andrew Emelianenko" />
          </div>
          <div class="col">
            <ul>
                <li>Top-Rated Freelancer for a Two Years</li>
                <li>Upwork Talent Cloud Member</li>
                <li>Author of Ruby, JavaScript, HTML, CSS, Bootstrap tests at Upwork</li>
            </ul>

            <p>I am Product Architect / Team Lead / Software Engineer with more than 10 years of experience and dozens of successful projects.</p>

            <p>
                <a class="s-button major" href="http://upwork.com/fl/aemelianenko" target="_blank">Upwork</a>
                <a class="s-button" href="https://www.linkedin.com/in/aemelianenko/" target="_blank">LinkedIn</a>
            </p>
          </div>
      </div>
    </div>

    <div class="l-section">
        <p>I'm well-experienced in a wide range of technologies. The list of projects I have successfully completed include:</p>
        <ul>
            <li>Payment Systems</li>
            <li>Blockchain</li>
            <li>Social Networks</li>
            <li>Insurance Solutions</li>
            <li>eCommerce</li>
            <li>Tracking Tools</li>
            <li>Etc.</li>
        </ul>

        <p>Web, Mobile, and Desktop are beyond our control. Please, be familiar with my skill set to make sure:</p>

        <h2>Leadership</h2>
        <ul>
            <li>Product Architecture</li>
            <li>Agile methodologies (Scrum / Kanban)</li>
            <li>Team Management</li>
            <li>Security and Performance Audits</li>
            <li>Code Review</li>
        </ul>

        <h2>Web</h2>
        <ul>
            <li>Angular / React / Vue</li>
            <li>Ruby / Ruby on Rails</li>
            <li>PostgreSQL / Redis / MongoDB</li>
            <li>DevOps / Docker / AWS / DigitalOcean</li>
        </ul>

        <h2>Mobile</h2>
        <ul>
            <li>React Native</li>
            <li>Swift / Cocoa</li>
        </ul>

        <h2>Desktop</h2>
        <ul>
            <li>Electron</li>
            <li>Swift / Cocoa</li>
        </ul>

        <p>If you want to get a high-quality code and perfect results, please contact my team and me. I'm sure you will be satisfied more than you expect. We'll save your time, money and grow your business.</p>
    </div>
</div>
